
*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body
{
	/*background-image:url(images/cover.jfif);
	background-repeat:no-repeat;
	background-size:cover;*/
	background-color:#5CDB95;
}

.navbar {
  overflow: hidden;
  background-color:#346942;
  position: fixed;
  top: 0;
  font-family:arial;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #EDF5E1;
  text-align: center;
  margin-left:11em;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  transition:0.3s;
  border-radius:10px;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}


.mid h1
{
	color:#EDF5E1;
	font-size:5em;
	font-family: 'Brush Script MT', cursive;
	text-align:center;
	margin-top:3.5em;
	letter-spacing:5px;
}
.mid h2
{
	text-align:center;
	font-family:arial;
	font-size:30px;
	letter-spacing:5px;
	color:#EDF5E1;
}

section
{
	
	margin-top:25em;
	height:100px;
	background-color:#5CDB95;
}
#about
{
	background-color:#8EE4AF;
}
#about h3
{
	text-align:center;
	font-size:3em;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	border-bottom:2px solid black;
	margin:0px auto;
	width:24%;
}
img
{
	width:250px;
	height:300px;
	margin-left:3em;
}
h4
{
	text-align:center;
	margin-top:1.5em;
	color:#05386B;
	margin-right:1em;
	font-family:arial;
	font-size:2em;
}
.data
{
	width:30%;
	margin:0px auto;
	float:right;
	height:100px;
	margin-top:1em;
	margin-right:5em;
	text-align:justify;
	font-family:arial;
	font-size:20px;
	line-height:2em;
	background:#8EE4AF;
}
.data2
{
	width:30%;
	height:100px;
    text-align:justify;
	float:right;
	margin-top:1em;
	font-family:arial;
	font-size:20px;
	line-height:2em;
	background-color:#8EE4AF;
}
.graph
{
	width:50%;
	height:350px;
	background-color:#8EE4AF;
	margin:0px auto;
}
.graph h6
{
	text-align:center;
	font-family:arial;
	font-size:25px;
	border:5px double;
	width:40%;
	color:#05386B;
	margin:0px auto;
	letter-spacing:5px;
}
.skills p
{
	line-height:2em;
	font-family:arial;
	font-size:13pt;
}
.skills p:nth-child(2)
{
	float:right;
	position:relative;
	top:-25px;
}
.skill
{
	background:#262626;
	padding:4px;
	border-radius:2px;
}
.percentage
{
	background:#0fffb7;
	width:100%;
	height:10px;
}
#resume
{
	width:40%;
	height:50em;
	margin:0px auto;
	margin-top:15px;
	padding-top:15px;
}

#resume h6
{
	text-align:center;
	font-family:arial;
	font-size:25px;
	border:5px double;
	width:30%;
	height:2em;
	padding-top:5px;
	margin:0px auto;
	letter-spacing:5px;
	color:#05386B;
}
#resume p
{
	font-family:arial;
	
}

#contact
{
	width:100%;
	height:500px;
	margin-top:5em;
}
form{
    width:80%;
	margin:auto;
	border-radius:5px;
	
}
legend{
	background:#01945e;
	color:#efefef;
	font-family:arial;
	border-radius:3px;
	padding:5px;
	text-align:center;
	font-size:23pt;
}
label{
	width:50%;
	font-family:arial;
}
input[type=text],input[type=email]{
	width:70%;

	border-radius:4px;
	padding:5px;
}
input[type=text]:focus{
	background:#c5e2c9;
}

input[type=submit]{
	background:#01945e;
	color:#ffffff;
	margin:4px 2px;
	padding:15px;
	font-size:15pt;
	cursor:pointer;
	animation	:10s;
}
input[type=submit]:hover{
	background:#05386B;
	color:#EDF5E1;
	font-size:20pt;
	transition:0.3s;
}
fieldset
{
	border:1px solid black;
	box-shadow:5px 5px 0px 5px #EDF5E1;
	box-shadow:0px 5px 0px 5px #EDF5E1;
}
footer
{
	width:100%;
	height:50px;
	margin:auto;
	float:right;
	color:white;
	clear:both;
	text-align:center;
	margin-top:87em;
	background:black;
}
footer p
{
	margin-top:10px;
}


@media screen and (max-width:1080px) 
{
	.navbar 
	{
		width:100%;	
	}
	.navbar a
	{
		margin:0px;
		margin-left:3em;
	}
	#about
	{
		width:100%;
	}
	#about h3
	{
		
		width:50%;
	}
	img
	{
		float:left;
		margin-left:5em;
	}
}

@media screen and (min-width:50px)
{
	.navbar
	{
		width:100%;
	}
	.navbar a
	{
		
		margin:0px;
		margin-left:1em;
	}
	#about
	{
		width:100%;
	}
	#about h3
	{
		
		width:50%;
	}
}
